* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url("../img/01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    align-items: center;
    justify-items: center;
}

.data-time {
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: #000;

    p {
        color: white;
    }
}
