@import "./animation.scss";

$mainColor: #eee6e6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-Regular.ttf");
    font-weight: 400;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url("../img/04.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 100px;
    align-content: space-between;
    position: relative;
}

.data-time {
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 500px;
    padding: 30px 0;

    time {
        color: $mainColor;
    }

    #time {
        font-size: 150px;
        font-weight: 700;
        width: 602px;
    }
    #date {
        font-size: 34px;
    }
}

.todo {
    display: grid;
    gap: 20px;

    &__input {
        background: transparent;
        padding: 10px 25px;
        border: none;
        border-bottom: 2px solid white;
        outline: none;
        width: 500px;
        font-size: 24px;
        color: $mainColor;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        &::placeholder {
            color: #ccc8c8;
        }
        &:hover {
            border-bottom: 3px solid rgba(216, 210, 210, 0.897);
        }
        &:focus {
            border: 2px solid rgba(216, 210, 210, 0.897);
            border-radius: 10px;
        }
    }

    &__items {
        display: grid;
        gap: 10px;
        max-height: 100px;
        overflow-y: auto;
        padding-right: 20px;
        &::-webkit-scrollbar {
            width: 10px;
            cursor: pointer;
        }
        &::-webkit-scrollbar-track {
            background-color: rgb(200, 248, 238);
            border-radius: 10px;
            border: none;
        }
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 6px rgba(3, 63, 38, 0.61);
            border-radius: 10px;
            border: none;
        }
    }

    &__item {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;

        input {
            appearance: none;
            width: 35px;
            height: 35px;
            border: 1px solid white;
            cursor: pointer;
            border-radius: 50%;
            &:checked {
                background: rgb(153, 151, 151);
                border: 1px solid rgb(153, 151, 151);
            }
        }
    }

    label {
        color: $mainColor;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
            color: rgb(199, 195, 195);
        }
        &:hover input {
            border: 1px solid rgb(61, 202, 61);
        }
    }

    &__btn {
        width: 35px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    &__icon {
        fill: white;
        transition: all 0.3s;
        &:hover {
            transform: rotate(8deg);
        }
    }

    &__delete {
        background: $mainColor;
        padding: 10px 25px;
        border: none;
        border-radius: 15px;
        justify-self: center;
        font-size: 20px;
        color: #454343;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        display: none;
        transition: all 0.3s;
        &:hover {
            background: rgba(170, 169, 169, 0.938);
        }
        &:active {
            background: rgba(151, 150, 150, 0.938);
        }
    }
}

.weather {
    display: grid;
    gap: 20px;
    padding: 10px;
    justify-self: end;
    width: 350px;
    position: relative;
    &__wrap {
        display: grid;
        gap: 20px;
    }
    &__items {
        display: grid;
        gap: 10px;
        width: 100%;
        position: absolute;
        background: rgba(212, 211, 211, 0.952);
        border-radius: 15px;
        padding: 10px;
        left: 0;
        top: 56%;
        color: rgb(112, 111, 111);
    }
    &__item {
        color: rgb(112, 111, 111);
        border-bottom: 1px solid rgb(143, 143, 143);
        padding: 10px 0;
        word-break: break-all;
        font-size: 20px;
        &:last-child {
            border-bottom: none;
        }
    }
    &__input {
        width: 100%;
        height: 40px;
        // border-radius: 15px;
        background: transparent;
        border: none;
        border-bottom: 2px solid $mainColor;
        padding: 10px 15px;
        font-size: 22px;
        color: $mainColor;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        outline: none;
        cursor: pointer;
        &:hover {
            border-width: 3px;
        }
        &:focus {
            border-bottom: 1px solid $mainColor;
            border-radius: 10px;
        }
    }
    &__icon {
        height: 30px;
        width: 45px;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__inner {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__deg {
        color: $mainColor;
    }
}

.modal {
    position: absolute;
    background: white;
    border-radius: 15px;
    padding: 40px;
    width: 80%;
    &__btn {
        width: 30px;
        border: none;
        background: transparent;
        position: absolute;
        top: 15%;
        right: 4%;
        cursor: pointer;
    }
}

.hide {
    display: none;
}

.error {
    border: 1px solid rgb(240, 84, 84);
    &:focus {
        border: 1px solid rgb(240, 84, 84);
    }
}

.done {
    text-decoration: line-through;
    color: rgb(153, 151, 151) !important;
}

@import "./adaptive.scss";
